<div class="dropdown">
  <app-multi-select-drop-down
    [listElements]="listElements"
    [selectedValue]="selected"
    (selected)="select($event)"
  />
  <div>
    <app-chips text="one" />
    <app-chips text="one" />
    <app-chips text="one" />
  </div>
</div>
<div class="analysis">
  <div class="group-1">
    <div class="trends">
      <app-line-chart
        [chartData]="LineChartdata"
        [format]="'Year'"
      ></app-line-chart>
    </div>
    <div class="selling">
      <div class="top">
        Top selling product
        <app-horizontal-bar-chart></app-horizontal-bar-chart>
      </div>
      <div class="least">
        Least selling product
        <app-horizontal-bar-chart
          color="#E74C3C"
          title="Least selling product"
        ></app-horizontal-bar-chart>
      </div>
    </div>
  </div>
  <div class="group-2">
    <div class="customer-insights">
      Customer Insights
      <app-customer-insights [customerInsightsData]="customerData" />
    </div>
    <div class="cross-selling">
      <p>Cross selling department</p>
      @for (item of crossData; track $index) {
      <app-cross-selling-bar-chart
        [title]="item.name"
        [data]="item.dept"
      ></app-cross-selling-bar-chart>
      <br />
      }
    </div>
  </div>
</div>
