<div class="dropdown">
  <app-drop-down
    [listElements]="listElements"
    [selectedValue]="selected.name"
    (selected)="select($event)"
  />
</div>
<div class="analysis">
  <div class="trends">
    @if(isLoaded){
    <app-line-chart [chartData]="LineChartdata" [format]="timeFrame" />
    }
  </div>
  <div class="group-2">
    <div class="customer-insights">
      Customer Insights
      <app-customer-insights
        [customerInsightsData]="customerData()"
        [filter]="filter"
      />
    </div>
    <div class="cross-selling">
      Cross selling products
      <app-cross-selling-products
        [crossSellingProductsData]="crossSellingProducts()"
      />
    </div>
  </div>
</div>
