:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dropdown {
  height: 50px;
  display: flex;
  align-items: center;
}

.analysis {
  margin: 0px 50px;
  height: min-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: center;
  width: calc(100vw - 100px);
  box-sizing: border-box;
}

.group-1 {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
}

.trends {
  height: 500px;
  border-radius: 40px;
  background-color: white;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.02);
  /*  */
  display: flex;
  justify-content: center;
  align-items: center;
  /*  */
}

.selling {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.top,
.least {
  flex: 1;
  height: 250px;
  background-color: white;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.02);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  color: #404040;
  font-size: 19px;
  padding-top: 24px;
  padding-left: 30px;
}

.analysis > .group-2 {
  width: 30%;
  height: 789px;
  gap: 15px;
}

.customer-insights {
  height: 220px;
  color: #404040;
  font-size: 19px;
  padding-top: 24px;
  padding-left: 30px;
  background-color: white;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.02);
  border-radius: 40px;
}

.cross-selling {

  background-color: white;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.02);
  border-radius: 40px;
  font-size: 19px;
  color: #404040;
  height: calc(100% - 260px);
  /* overflow-y: auto; */
}

.scroll{
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 19px;
  color: #404040;
  height: calc(80%);
}


.cross-selling p {
  padding: 24px 30px;
}
