<div class="input" (click)="toggleVisible()">
  <input type="text" [(ngModel)]="filterValue" />
  <span class="drop-down-arrow">
    <img [src]="image_path" alt="P" class="profile-img" height="8" width="8"
  /></span>
</div>
<div
  [class]="{
    'drop-down': true,
    visible: isListOpen && filteredList().length != 0
  }"
>
  <ul class="list">
    @for(list of filteredList();track list.id){
    <li
      [class]="{
        option: true,
        selected: list.name == selectedValue()
      }"
      (click)="select(list.name)"
    >
      {{ list.name }}
    </li>
    }
  </ul>
</div>
