:host {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 30px;
  box-sizing: border-box;
  padding-top: 20px;
}

.drop-down-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.input {
  background-color: inherit;
  max-width: max-content;
  padding-right: 34px;
  font-size: 20px;
}

input {
  width: 150px;
  background-color: inherit;
  border: none;
  outline: none;
  padding: 4px;
  text-align: center;
  caret-color: #d6d6d6;
}

.drop-down {
  /* visibility: hidden; */
  position: absolute;
  top: 100%;
  padding: 5px 5px;
  max-height: 520px;
  width: 200px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 4px 0px #d6d6d6;
  border-radius: 30px;
  z-index: 1;
}

.drop-down .list {
  max-height: 420px;
  overflow-y: auto;
  padding: 0px;
  margin: 0px;
}

.option {
  text-align: left;
  padding: 8px 20px;
  font-size: 16px;
}

.option:hover {
  font-size: 19px;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #afafaf;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #afafaf;
}
