:host {
  position: relative;
  display: flex;
  height: 50px;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-left: 30px;
  box-sizing: border-box;
  /* padding-top: 20px; */
}

.drop-down-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.input {
  background-color: inherit;
  max-width: max-content;
  padding-right: 34px;
  font-size: 20px;
  cursor: pointer;
}

input {
  cursor: pointer;
  width: 150px;
  background-color: inherit;
  border: none;
  outline: none;
  padding: 4px;
  text-align: center;
  caret-color: #f3f3f3;
  font-family: "afacad";
  font-size: 15px;
}

.drop-down {
  visibility: hidden;
  position: absolute;
  top: calc(100% + 10px);
  left: 40px;
  padding: 2px;
  max-height: 520px;
  background-color: white;
  box-shadow: 1px 1px 4px 0px #d6d6d6;
  /* width: 200px; */
  /* border-radius: 30px; */
  width: 180px;
  border-radius: 4px;
  z-index: 1;
}

.drop-down.visible {
  visibility: visible;
}

.drop-down .list {
  max-height: 420px;
  overflow-y: auto;
  padding: 0px;
  margin: 0px;
}

.option {
  text-align: left;
  padding: 8px 20px;
  margin: 8px;
  font-size: 16px;
  cursor: pointer;
}

.option.selected {
  background-color: #50c878;
  color: white;
  text-align: right;
}

/* .option:hover {
  background-color: #50c878;
  color: white;
} */

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f3f3f3;
  border-radius: 15px;
  margin: 10px 0px;
}

::-webkit-scrollbar-thumb {
  background: #50c878;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #50c878;
}
