<div class="dropdown"></div>
<div class="analysis">
  <div class="trends">
    @if(isLoaded){
    <app-line-chart
      [chartData]="LineChartdata"
      [yAxisLabel]="'sales'"
      [xAxisLabel]="timeFrame"
    />
    }
  </div>
  <div class="group-2">
    <div class="customer-insights">
      Customer Insights
      <app-customer-insights
        [customerInsightsData]="customerData()"
        [filter]="filter"
      />
    </div>
    <div class="cross-selling">
      High Performing Departments
      <app-cross-selling-products
        [crossSellingProductsData]="crossSellingProducts()"
        [filter]="'departments'"
      />
    </div>
  </div>
</div>
