<div class="input" (click)="toggleVisible()">
  <input type="text" value="Select department" readonly />
  <span class="drop-down-arrow">
    <img [src]="image_path" alt="P" class="profile-img" height="8" width="8"
  /></span>
</div>
<div
  [class]="{
    'drop-down': true,
    visible: isListOpen && filteredElements().length != 0
  }"
>
  <ul class="list">
    @for(list of filteredElements();track list){
    <li
      [class]="{
        option: true,
        selected: list.name == selectedValue()
      }"
      (click)="select(list.name)"
    >
      <input type="checkbox" [(ngModel)]="list.selected" [id]="list" />
      {{ list.name }}
    </li>
    }
  </ul>
  <button (click)="close()">Apply filter</button>
</div>
