<div class="navbar">
  <nav class="primary">
    @if (isMultiStore) {
    <div class="store-id">
      <p (click)="toggleVisible()">
        Store ID {{ filterValue }}
        <span class="drop-down-arrow">
          <img
            src="image.png"
            alt="P"
            class="profile-img"
            height="24"
            width="24"
        /></span>
      </p>
      @if (isListOpen) {
      <div class="drop-down">
        @for(store of storeId;track store.id){
        <li
          class="drop-down-list"
          [class.selectedId]="store.id === filterValue"
          (click)="select(store.id)"
        >
          {{ store.id }}
        </li>
        }
      </div>
      }
    </div>
    }
    <a
      [routerLink]="navigationPrefix + '/analysis'"
      routerLinkActive="selected"
      class="navigation"
      >Analysis</a
    >
    <a
      [routerLink]="navigationPrefix + '/department'"
      routerLinkActive="selected"
      class="navigation"
      >Departments</a
    >
    <a
      [routerLink]="navigationPrefix + '/product'"
      routerLinkActive="selected"
      class="navigation"
      >Product</a
    >
    <a
      [routerLink]="navigationPrefix + '/operator'"
      routerLinkActive="selected"
      class="navigation"
      >Operator</a
    >
  </nav>
  <div class="secondary">
    <div class="btn-group">
      <button
        [class]="{ btn: true, selected: targetValue === 'sales' }"
        (click)="changeTargetValue('sales')"
      >
        Revenue
      </button>
      <button
        [class]="{ btn: true, selected: targetValue === 'quantity' }"
        (click)="changeTargetValue('quantity')"
      >
        Quantity
      </button>
    </div>
    <div class="filter">
      <div class="domain">{{ domain }}</div>
      <div class="dropdown">
        <p (click)="toggleTFList()">
          {{ TimeFrameText(timeFrame) }}
          <span class="drop-down-arrow">
            <img
              src="image.png"
              alt="P"
              class="profile-img"
              height="24"
              width="24"
          /></span>
        </p>
        @if(isTFListOpen){
        <div class="list">
          @for(timeframe of timeFrameList;track timeframe){
          <div
            [class]="{
              dropdownlist: true,
              selectedTimeFrame: timeFrame === timeframe
            }"
            (click)="selectTimeFrame(timeframe)"
          >
            {{ TimeFrameText(timeframe) }}
          </div>
          }
        </div>
        }
      </div>
    </div>
    <div class="profile">
      <img [src]="'assets/images/user.png'" alt="P" class="profile-img" />
      <div class="profile-details">
        <div class="name">Dinesh Raja</div>
        <div class="role">Admin</div>
      </div>
    </div>
  </div>
</div>
