.navbar {
  box-sizing: border-box;
  margin: 0;
  padding-left: 70px;
  padding-right: 20px;
  /* padding-bottom: 5px; */
  padding-top: 5px;
  justify-content: space-between;
  background-color: white;
  font-size: 16px;
}

.navbar,
.secondary,
.profile,
.btn-group,
.primary,
.filter,
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.store-id {
  font-size: 17px;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
}

.store-id p {
  margin: 0px;
}

.selectedId {
  background-color: #50c878;
  color: white;
  text-align: right;
  cursor: pointer;
}
.drop-down {
  list-style: none;
  position: absolute;
  left: -30px;
  padding: 10px;
  max-height: fit-content;
  background-color: white;
  box-shadow: 1px 1px 4px 0px #d6d6d6;
  width: 120px;
  border-radius: 30px;
  border-radius: 4px;
  z-index: 1;
  font-size: 15px;
}
.drop-down-list {
  padding: 5px;
  cursor: pointer;
}
.drop-down-arrow > img {
  position: absolute;
}

.primary {
  gap: 10px;
}

.primary > .navigation {
  display: inline-block;
  padding: 13px 10px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.primary > .navigation.selected {
  padding-bottom: 11px;
  border-bottom: 1px solid black;
}

.secondary {
  gap: 20px;
  position: relative;
}

.secondary .dropdown p {
  margin: 0;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.dropdown > .list {
  width: 100px;
  position: absolute;
  top: calc(100% - 5px);
  background-color: white;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.12);
  padding: 5px;
  text-align: center;
  cursor: pointer;
  z-index: 10;
}

.dropdownlist {
  background-color: white;
  padding: 6px;
  color: black;
  cursor: pointer;
}

.dropdownlist.selectedTimeFrame {
  background-color: #50c878;
  color: white;
}

.btn-group {
  gap: 5px;
}

.btn-group > .btn {
  height: 32px;
  padding: 5px;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  background-color: white;
  font-family: "Afacad";
  cursor: pointer;
}

.btn-group > .btn.selected {
  background-color: #50c878;
  color: white;
}
.filter {
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.filter > .domain {
  padding: 0px 10px;
}

.profile {
  gap: 10px;
}

.profile > .profile-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.profile > .profile-details > .name {
  font-size: 14px;
}

.profile > .profile-details > .role {
  font-size: 13px;
}

.profile-details > .role {
  color: rgba(0, 0, 0, 0.6);
}

.drop-down.visible {
  visibility: visible;
}

@media screen and (min-width: 1440px) {
  .navbar {
    font-size: 18px;
  }
  .btn-group > .btn {
    font-size: 15px;
  }
  .profile > .profile-details > .name {
    font-size: 15px;
  }
  .profile > .profile-details > .role {
    font-size: 14px;
  }
  .filter {
    gap: 20px;
    padding: 7px;
  }
}
