:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dropdown {
  height: 50px;
}

.analysis {
  margin: 10px 50px;
  height: min-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: center;
  width: calc(100vw - 100px);
  box-sizing: border-box;
}

.analysis > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.group-1 {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
}

.trends {
  height: 500px;
  border-radius: 40px;
  background-color: white;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.02);
  /*  */
  display: flex;
  justify-content: center;
  align-items: center;
  /*  */
}

.selling {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.top,
.least {
  flex: 1;
  height: 300px;
  background-color: white;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.02);
  border-radius: 40px;
  display: flex;
  flex-direction: row;
   padding-left: 50px;
  /*  */
  justify-content: center;
  align-items: center;
  /*  */
}

.analysis > .group-2 {
  width: 30%;
  height: 820px;
  gap: 15px;
}

.customer-insights {
  height: 260px;
  color: #404040;
  font-size: 19px;
  padding-top: 24px;
  padding-left: 30px;
  background-color: white;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.02);
  border-radius: 40px;
}

.cross-selling {
  p{
    margin-left: 30px;
  }
  /* height: calc(100% - 260px); */
  background-color: white;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.02);
  border-radius: 40px;
  /*  */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /*  */
}

/* @media screen and (max-width: 1440px) {
  .trends {
    height: 300px;
  }

  .top,
  .least {
    height: 200px;
  }

  .customer-insights {
    height: 20%;
  }
  .cross-selling {
    height: 50%;
  }
  .analysis {
    flex: none;
    height: max-content;
  }
} */
