<div class="dropdown"></div>
<div class="analysis">
  <div class="group-1">
    <div class="trends">
      <app-line-chart></app-line-chart>
    </div>
    <div class="selling">
      <div class="top">
        <app-horizontal-bar-chart></app-horizontal-bar-chart>
      </div>
      <div class="least">
        <app-horizontal-bar-chart
          title="Least selling products"
          color="#E74C3C"
        ></app-horizontal-bar-chart>
      </div>
    </div>
  </div>
  <div class="group-2">
    <div class="customer-insights">Customer Insights</div>
    <div class="cross-selling">Cross Selling</div>
  </div>
</div>
