@font-face {
  font-family: "Afacad";
  src: url("assets/fonts/Afacad/static/Afacad-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "afacad";
  height: 100%;
  background-color: #f7f7f7;
}

.x.axis .ng-star-inserted {
  stroke-dasharray: 5, 10 !important;
}

.gridline-path.gridline-path-horizontal {
  stroke-dasharray: 8, 10;
}

.gridline-path.gridline-path-vertical {
  stroke: none !important;
}

