<div class="heading">
  <span class="title"> Sales trends </span>
  <div class="legend-container">
    @for (d of data; track d.name) {
    <span class="legend">{{ d.name }}</span>
    }
  </div>
</div>
<ngx-charts-line-chart
  [results]="data"
  [view]="view"
  [showXAxisLabel]="true"
  [yAxis]="true"
  [xAxis]="true"
  [scheme]="customScheme"
  [showGridLines]="true"
  [xAxisTickFormatting]="xAxisFormat"
  [curve]="curve"
  class="chart"
  [showXAxisLabel]="true"
  [xAxisLabel]="'Month'"
  [showYAxisLabel]="true"
  [yAxisLabel]="'Sales'"
  (window:resize)="onResize($event)"
  [roundDomains]="true"
  #chart
></ngx-charts-line-chart>
