.heading {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}

span {
  display: inline-block;
}

.legend-container {
  display: inline-flex;
  justify-content: end;
  width: 80%;
}
.legend {
  margin: 1px;
  display: inline-block;
  font-size: small;
}

.x.axis .ng-star-inserted {
  stroke-dasharray: 10, 10 !important;
}

.ngx-charts .gridline-path {
  stroke-width: 2 !important;
}
