.heading {
  padding: 20px 50px;
  display: flex;
  font-size: 19px;
  justify-content: space-between;
}

span {
  display: inline-block;
}

.legend-container {
  display: inline-flex;
  justify-content: end;
  width: 80%;
}
.legend {
  margin: 2px;
  display: inline-block;
  font-size: 12px;
  color: #666666;
  cursor: default;
}
.title{
  color: #404040;
    font-size: 19px;
}
.x.axis .ng-star-inserted {
  stroke-dasharray: 10, 10 !important;
}

.ngx-charts .gridline-path {
  stroke-width: 2 !important;
}
